/test/build/
/node_modules/
/coverage/
/test/tmp/
/www/.store-android.js
/www/.store-ios.js
*~
.*.swp
.checkstyle.jar
npm-debug.log
/.idea
/demo
/git_modules
/src/tmpjs/
/lib
/old
/.vscode/
/api-dev/
/src/ios/CDVPurchase.h
/src/ios/CDVPurchase.m
/src/ios/CDVPurchase.swift
/src/example/_*
