<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License (MIT)

Copyright (c) 2013-2015 Jean-Christophe Hoelt

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-purchase"
    xmlns:android="http://schemas.android.com/apk/res/android"
    version="13.10.0">

    <name>Purchase</name>
	<description>Cordova Purchase plugin for iOS (AppStore), Android (PlayStore) and Windows</description>
    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>
    <repo>https://github.com/j3k0/cordova-plugin-purchase.git</repo>
    <issue>https://github.com/j3k0/cordova-plugin-purchase/issues</issue>

	<license>MIT</license>
    <keywords>cordova,phonegap,purchase,purchases,storekit,billing,ios,android,play,appstore,windows,osx,macos</keywords>

    <!-- ios -->
    <platform name="ios">
        <!-- dependency id="cordova-plugin-add-swift-support" version="2.0.2" / -->
        <js-module src="www/store.js" name="CdvPurchase">
            <clobbers target="CdvPurchase" />
            <clobbers target="store" />
        </js-module>

        <!-- Cordova 2.2 -->
        <plugins-plist key="InAppPurchase" string="InAppPurchase" />

        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/*">
            <feature name="InAppPurchase">
                <param name="ios-package" value="InAppPurchase" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/InAppPurchase.h" />
        <source-file src="src/ios/InAppPurchase.m" />
        <header-file src="src/ios/SKProduct+LocalizedPrice.h" />
        <source-file src="src/ios/SKProduct+LocalizedPrice.m" />
        <header-file src="src/ios/SKProductDiscount+LocalizedPrice.h" />
        <source-file src="src/ios/SKProductDiscount+LocalizedPrice.m" />
        <header-file src="src/ios/FileUtility.h" />
        <source-file src="src/ios/FileUtility.m" />

        <framework src="StoreKit.framework" />
    </platform>

    <!-- osx -->
    <platform name="osx">
        <js-module src="www/store.js" name="CdvPurchase">
            <clobbers target="CdvPurchase" />
            <clobbers target="store" />
        </js-module>

        <js-module src="www/cordova-osx-polyfill.js" name="CordovaOSXPolyfill">
            <runs />
        </js-module>

        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/*">
            <feature name="InAppPurchase">
                <param name="osx-package" value="InAppPurchase" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/InAppPurchase.h" />
        <source-file src="src/ios/InAppPurchase.m" />
        <header-file src="src/ios/SKProduct+LocalizedPrice.h" />
        <source-file src="src/ios/SKProduct+LocalizedPrice.m" />
        <header-file src="src/ios/SKProductDiscount+LocalizedPrice.h" />
        <source-file src="src/ios/SKProductDiscount+LocalizedPrice.m" />
        <header-file src="src/ios/FileUtility.h" />
        <source-file src="src/ios/FileUtility.m" />

        <framework src="StoreKit.framework" />
    </platform>

    <!-- android -->
    <platform name="android">
      <js-module src="www/store.js" name="CdvPurchase">
        <clobbers target="store" />
        <clobbers target="CdvPurchase" />
      </js-module>
      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="com.android.vending.BILLING" />
      </config-file>

      <!-- Cordova >= 3.0.0 -->
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="InAppBillingPlugin">
          <param
            name="android-package"
            value="cc.fovea.PurchasePlugin"
            />
        </feature>
      </config-file>

      <!-- To ensure we're using the latest version, see here:
        https://developer.android.com/google/play/billing/billing_library_releases_notes -->
      <framework src="com.android.billingclient:billing:5.2.1" />
      <source-file src="src/android/cc/fovea/PurchasePlugin.java" target-dir="src/cc/fovea" />
      <source-file src="src/android/cc/fovea/Constants.java" target-dir="src/cc/fovea" />
    </platform>

    <platform name="browser">
      <js-module src="www/store.js" name="CdvPurchase">
        <clobbers target="CdvPurchase" />
      </js-module>
    </platform>

    <!-- windows -->
	<platform name="windows">
		<js-module src="www/store.js" name="CdvPurchase">
            <clobbers target="CdvPurchase" />
            <clobbers target="store" />
		</js-module>
		<js-module src="src/windows/InAppPurchaseProxy.js" name="InAppPurchaseProxy">
			<merges target="" />
		</js-module>

	</platform>
<!--
vim: ts=4:sw=4:et
-->
</plugin>
